@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c500f;
  padding: 0;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 45rem) {
  .logo {
    margin: 0 1rem 0 3rem;
  }
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0 2.8rem 0 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: #e5e9dc;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid white;
}

.title {
  display: flex;
  align-items: center;
}

.main-nav {
  display: none;
}

@media (min-width: 45rem) {
  .main-nav {
    display: block;
  }
}

.backdrop {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  animation: backdrop--appear 200ms ease-in-out forwards;
}

.menu {
  color: #ffffff;
  margin: 0 1rem;
  font-size: 2rem;
}
@media (min-width: 45rem) {
  .menu {
    display: none;
  }
}

.header ul.side__menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80vw;
  padding: 5rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  background: #ffffff;
  transform: translateX(-200rem);
  transition: 200ms transform ease-in-out;
}

.side__menu li {
  margin: 0.5rem 0;
}
.side__menu li > a {
  color: #3c500f;
  font-weight: 900;
}
.side__menu li > a:hover,
.side__menu li > a:active {
  color: #3c500f;
  padding-bottom: 0.1rem;
  border-bottom: 3px solid #3c500f;
}

.side__menu--open {
  transform: translateX(0) !important;
}

@keyframes backdrop--appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
